@use "../utils/variables" as *;

html {
    background-color: $clr-blue;
    font-size: 0.8rem;
    font-weight: $fw-light;
    color: $clr-white;
    
}

body {
    font-family: $ff-primary;
}
main{
    margin: 1.5rem;
}

footer{
    width: 100vw;
    position: relative;
    margin-left: calc(-50vw + 50%);
}

.purple {
    color: $clr-purple;
}

.bg-blue {
    background-color: $clr-dark-blue;
}

.bg-light-blue{
    background-color: $clr-light-blue;
}

.secondary-font {
    font-family: $ff-secondary;
}

.my-img{
    width: 300px;
    height: 300px;
    background: url("../../img/purple.svg") no-repeat center/contain;
    transition: background 0.3s ease-in-out;
    
    &:hover {
        background: url("../../img/color.svg") no-repeat center/contain;
    }
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-nav{
    color: $clr-white;

    &:hover{
        color: $clr-purple;
    }
}

.btn-purple {
    background-color: $clr-dark-purple;
    border-radius: 0.5rem;
}