
    /*fonts & weight*/
    $ff-primary: 'Poppins', sans-serif;
    $ff-secondary:  'Yeseva One', serif;
    $fw-light: 300;
    $fw-reg: 400;
    $fw-semibold: 600;
    $fw-bold: 700;

    /*font sizes*/
    $fs-xsm: 1rem;
    $fs-sm: 1.125rem;
    $fs-rg: 1.25rem;
    $fs-md: 1.5rem;
    $fs-md1: 2rem;
    $fs-mdxl: 3rem;
    $fs-lg: 4rem;
    $fs-xlg: 5rem;

    /*colors*/
    $clr-dark-blue:hsl(230.909, 54%, 12%);
    $clr-blue:hsl(228, 43%, 16%);
    $clr-light-blue: hsl(203, 30%, 39%);
    $clr-light-purple: hsl(244, 94%, 93%);
    $clr-purple: hsl(241.8, 82%, 76%);
    $clr-dark-purple: hsl(242, 27%, 49%);
    $clr-dark-purple-100: hsl(242, 28%, 42%);
    $clr-white:hsl(0, 0%, 96%);
    $clr-white-100: hsl(242, 97%, 88%);
